<!-- product_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog</title>
  <style>
    .cart-link {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
    }
  </style>
</head>
<body>
<!-- Ссылка на корзину в правом верхнем углу -->
<a href="{% url 'view_cart' %}" class="cart-link">Корзина</a>
<h1>Каталог товаров</h1>
<div>
  {% for product in products %}
  <div>
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }} руб.</p>

    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
    {% else %}
    <p>Изображение не доступно</p>
    {% endif %}

    <form action="{% url 'add_to_cart' product.id %}" method="POST">
      {% csrf_token %}
      <button type="submit">Добавить в корзину</button>
    </form>
  </div>
  {% endfor %}
</div>
</body>
</html>
